.style{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: grey;
  margin-top: -24px;
 
}
.drop{
  display: flex;
}
.cart{
  width: 370px;
  height: 300px;
  padding: 50px;

}